# Secrets for Tofu
variable "vm_username" {
    default = "line6" # change me to your username
}
variable "vm_password" {
    default = "<password here>"
}
variable "vm_ssh_key" {
    default = "ssh-rsa <key_here>"
}
variable "proxmox_username" {
    default = "terraform" # change to the username of the user from Proxmox.
}
variable "proxmox_api_token" {
    default = "terraform@pve!provider=<token>"
}
variable "unifi_username" {
    default = "terraform" # change to the username of the user from Unifi.
}
variable "unifi_password" {
    default = "<terraform_unifi_password>"
}