- name: Move kubeconfig to user home
  hosts: kube_api_servers[0]
  gather_facts: false
  vars:
    cluster_config: "{{ lookup('file', 'tmp/{{ cluster_name }}/cluster_config.json') | from_json }}"
  tags:
    - move_kubeconfig_remote
  tasks:
    - name: Ensure .kube exists in ssh users' account
      ansible.builtin.file:
        path: "{{ cluster_config.ssh.ssh_home }}/.kube"
        state: directory
        mode: '0700'
        owner: "{{ cluster_config.ssh.ssh_user }}"
        group: "{{ cluster_config.ssh.ssh_user }}"
      become: false
    - name: Configure .kube/config files in user home
      copy:
        src: /etc/kubernetes/admin.conf
        dest: "{{ cluster_config.ssh.ssh_home }}/.kube/config"
        remote_src: yes
        owner: "{{ cluster_config.ssh.ssh_user }}"
        group: "{{ cluster_config.ssh.ssh_user }}"
        mode: '0700'
      creates: "{{ cluster_config.ssh.ssh_home }}/.kube/config"
      become: true

- name: Ensure ~/.kube/exists locally
  hosts: localhost
  gather_facts: false
  tags:
    - move_kubeconfig_local
  tasks:
    - name: Ensure .kube exists in ssh users' account
      ansible.builtin.file:
        path: "{{ lookup('env', 'HOME') }}/.kube/"
        state: directory
        mode: '0700'
- name: Fetch Kubernetes config file to local machine
  hosts: kube_api_servers[0]
  gather_facts: false
  vars:
    cluster_config: "{{ lookup('file', 'tmp/{{ cluster_name }}/cluster_config.json') | from_json }}"
  tags:
    - move_kubeconfig_local
  tasks:
    - name: Fetch Kube config from the first control plane server
      ansible.builtin.fetch:
        src: "{{ cluster_config.ssh.ssh_home }}/.kube/config"
        dest: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
        flat: yes
      become: false  # Ensure this is correctly set based on your needs
      run_once: true

- name: Run local kubectl commands and configure kubeconfig
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    cluster_config: "{{ lookup('file', 'tmp/{{ cluster_name }}/cluster_config.json') | from_json }}"
  tags:
    - rename_kubeconfig_context
  tasks:
    - name: Check if the kubectl context needs renaming
      ansible.builtin.shell:
        cmd: kubectl config get-contexts -o name
      environment:
        KUBECONFIG: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
      register: kubectl_contexts
      changed_when: false
      ignore_errors: yes
    - name: Rename kubectl context
      ansible.builtin.command:
        cmd: kubectl config rename-context kubernetes-admin@{{ cluster_config.cluster_name }} {{ cluster_config.cluster_name }}
      environment:
        KUBECONFIG: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
      when:
        - "'kubernetes-admin@' + cluster_config.cluster_name in kubectl_contexts.stdout"
        - cluster_config.cluster_name + ' not in kubectl_contexts.stdout'
    - name: Replace kubernetes-admin username in kubeconfig
      ansible.builtin.replace:
        path: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
        regexp: "kubernetes-admin"
        replace: "{{ cluster_config.cluster_name }}-admin"
    - name: Replace API server address in kubeconfig
      ansible.builtin.replace:
        path: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
        regexp: "{{ cluster_config.kube_vip.vip_hostname }}"
        replace: "{{ cluster_config.kube_vip.vip }}"
    - name: Set the current context to the new cluster name
      ansible.builtin.command:
        cmd: kubectl config use-context {{ cluster_config.cluster_name }}
      environment:
        KUBECONFIG: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
    - name: Get nodes to verify configuration
      ansible.builtin.command:
        cmd: kubectl get nodes
      environment:
        KUBECONFIG: "{{ lookup('env', 'HOME') }}/.kube/{{ cluster_config.kubeconfig_file_name }}"
      register: kubectl_output
    - name: Show kubectl get nodes output
      ansible.builtin.debug:
        var: kubectl_output.stdout_lines
