- name: Move kubeconfig to user home
  hosts: all
  gather_facts: false
  vars:
    cluster_config: "{{ lookup('file', 'tmp/{{ cluster_name }}/cluster_config.json') | from_json }}"
  tags:
    - move_kubeconfig_remote
  tasks:
    - name: Ensure .kube exists in ssh users' account
      ansible.builtin.file:
        path: "/home/{{ cluster_config.ssh.ssh_user }}/.kube"
        state: directory
        mode: '0700'
        owner: "{{ cluster_config.ssh.ssh_user }}"
        group: "{{ cluster_config.ssh.ssh_user }}"
      become: false
      when: "'etcd' not in groups or inventory_hostname not in groups['etcd']"
    - name: Configure .kube/config files in user home
      copy:
        src: /etc/kubernetes/admin.conf
        dest: "/home/{{ cluster_config.ssh.ssh_user }}/.kube/config"
        remote_src: yes
        owner: "{{ cluster_config.ssh.ssh_user }}"
        group: "{{ cluster_config.ssh.ssh_user }}"
        mode: '0700'
      become: true
      when: inventory_hostname in groups['controlplane']
