[all:vars]
cluster_name={{ cluster_name }}

[kube_api_servers]
{% for i in range(cluster_config.node_classes.apiserver.count) %}
{{ cluster_config.cluster_subnet }}.{{ cluster_config.node_classes.apiserver.start_ip + i }} cp_index={{ i }} labels="{% for key, value in cluster_config.node_classes.apiserver.labels.items() %}{{ key }}={{ value }}{% if not loop.last %},{% endif %}{% endfor %}" hostname={{ cluster_config.cluster_name }}-apiserver-{{ i }}
{% endfor %}

[kube_etcd_servers]
{% for i in range(cluster_config.node_classes.etcd.count) %}
{{ cluster_config.cluster_subnet }}.{{ cluster_config.node_classes.etcd.start_ip + i }} etcd_index={{ i }} labels="" hostname={{ cluster_config.cluster_name }}-etcd-{{ i }}
{% endfor %}

[kube_backup_servers]
{% for i in range(cluster_config.node_classes.backup.count) %}
{{ cluster_config.cluster_subnet }}.{{ cluster_config.node_classes.backup.start_ip + i }} backup_index={{ i }} labels="{% for key, value in cluster_config.node_classes.backup.labels.items() %}{{ key }}={{ value }}{% if not loop.last %},{% endif %}{% endfor %}" hostname={{ cluster_config.cluster_name }}-backup-{{ i }}
{% endfor %}

[kube_db_servers]
{% for i in range(cluster_config.node_classes.db.count) %}
{{ cluster_config.cluster_subnet }}.{{ cluster_config.node_classes.db.start_ip + i }} db_index={{ i }} labels="{% for key, value in cluster_config.node_classes.db.labels.items() %}{{ key }}={{ value }}{% if not loop.last %},{% endif %}{% endfor %}" hostname={{ cluster_config.cluster_name }}-db-{{ i }}
{% endfor %}

[kube_general_servers]
{% for i in range(cluster_config.node_classes.general.count) %}
{{ cluster_config.cluster_subnet }}.{{ cluster_config.node_classes.general.start_ip + i }} general_index={{ i }} labels="{% for key, value in cluster_config.node_classes.general.labels.items() %}{{ key }}={{ value }}{% if not loop.last %},{% endif %}{% endfor %}" hostname={{ cluster_config.cluster_name }}-general-{{ i }}
{% endfor %}