installCRDs: true
replicaCount: 3
extraArgs:
  - --dns01-recursive-nameservers=1.1.1.1:53,1.0.0.1:53 # cloudflare
  - --dns01-recursive-nameservers-only
#  - --feature-gates=ExperimentalGatewayAPISupport=true
podDnsPolicy: None
podDnsConfig:
  nameservers:
    - "1.1.1.1" # cloudflare
    - "1.0.0.1" # cloudflare

prometheus:
  enabled: true
  servicemonitor:
    enabled: true
    prometheusInstance: kube-prometheus-stack