cluster:
  id: {{ cluster_id }}
  name: {{ cluster_name }}
operator:
  replicas: {{ replica_count }}
rolloutCiliumPods: true
ipv4:
  enabled: true
ipv6:
  enabled: {% if cluster_config.networking.ipv6.enabled and cluster_config.networking.ipv6.dual_stack %}true{% else %}false{% endif %}

ipam:
  mode: kubernetes
externalIPs:
  enabled: true
nodePort:
  enabled: true
hostPort:
  enabled: true
bpf:
  masquerade: false # not needed when using metallb
cni:
  exclusive: false  # needed for some mesh providers (Istio Ambient)
k8sServiceHost: {{ vip }}
k8sServicePort: 6443
kubeProxyReplacement: true
