cluster:
  id: {{ cluster_id }}
  name: {{ cluster_name }}
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
envoy:
  enabled: true
loadBalancer:
  l7:
    backend: envoy
rolloutCiliumPods: true
encryption:
  nodeEncryption: true
ipv4:
  enabled: true
ipv6:
  enabled: false
ipam:
  mode: kubernetes
gatewayAPI: # this is future proofing, we won't use it
  enabled: true
clustermesh: # enabled later in ansible, after crds for monitoring exist
  apiserver:
    kvstoremesh:
      enabled: true
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  service:
    type: LoadBalancer
externalIPs:
  enabled: true
nodePort:
  enabled: true
hostPort:
  enabled: true
l2announcements:
  enabled: true
  leaseDuration: 6s
  leaseRenewDeadline: 2s
  leaseRetryPeriod: 200ms
k8sServiceHost: {{ vip }}
k8sServicePort: 6443
kubeProxyReplacement: strict