apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: {{ cluster_name }}
  namespace: kube-system
spec:
  externalIPs: true
  loadBalancerIPs: true
  interfaces:
   - '{{ cilium_interface }}'
  serviceSelector:
    matchLabels:
      L2Announcement: "true"
{% if include_node_selector %}
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
{% endif %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: {{ cluster_name }}
  namespace: kube-system
spec:
  blocks:
{% if load_balancer_ip_block_start_1 | default('') | trim %}
{% if load_balancer_ip_block_stop_1 | default('') | trim %}
    - start: "{{ load_balancer_ip_block_start_1 }}"
      stop: "{{ load_balancer_ip_block_stop_1 }}"
{% endif %}
{% endif %}
{% if load_balancer_ip_block_start_2 | default('') | trim %}
{% if load_balancer_ip_block_stop_2 | default('') | trim %}
    - start: "{{ load_balancer_ip_block_start_2 }}"
      stop: "{{ load_balancer_ip_block_stop_2 }}"
{% endif %}
{% endif %}
{% if load_balancer_ip_cidr_1 | default('') | trim %}
    - cidr: "{{ load_balancer_ip_cidr_1 }}"
{% endif %}
{% if load_balancer_ip_cidr_2 | default('') | trim %}
    - cidr: "{{ load_balancer_ip_cidr_2 }}"
{% endif %}
  serviceSelector:
    matchLabels:
      L2Announcement: "true"
