controller:
  kind: Deployment
  service:
    external:
      enabled: {{ use_external_service }}
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      io.cilium/lb-ipam-ips: "{{ nginx_controller_ip }}"
    labels:
      L2Announcement: "true"
    internal:
      enabled: {{ use_internal_service }}
      type: LoadBalancer
      externalTrafficPolicy: Local
      annotations:
        io.cilium/lb-ipam-ips: "{{ nginx_controller_ip }}"
      labels:
        L2Announcement: "true"

  podAnnotations:
    prometheus.io/port: "10254"
    prometheus.io/scrape: "true"
  ingressClassResource:
    name: "{{ nginx_class_name }}"
    default: {{ is_default_class }}
  ingressClass: "{{ nginx_class_name }}"
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 50
    targetMemoryUtilizationPercentage: 50
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
    prometheusRule:
      enabled: true
      rules:
        rules:
          - alert: NGINXConfigFailed
            expr: count(nginx_ingress_controller_config_last_reload_successful == 0) > 0
            for: 1s
            labels:
              severity: critical
            annotations:
              description: bad ingress config - nginx config test failed
              summary: uninstall the latest ingress changes to allow config reloads to resume
          - alert: NGINXCertificateExpiry
            expr: (avg(nginx_ingress_controller_ssl_expire_time_seconds{host!="_"}) by (host) - time()) < 604800
            for: 1s
            labels:
              severity: critical
            annotations:
              description: ssl certificate(s) will expire in less then a week
              summary: renew expiring certificates to avoid downtime
          - alert: NGINXTooMany500s
            expr: 100 * ( sum( nginx_ingress_controller_requests{status=~"5.+"} ) / sum(nginx_ingress_controller_requests) ) > 5
            for: 1m
            labels:
              severity: warning
            annotations:
              description: Too many 5XXs
              summary: More than 5% of all requests returned 5XX, this requires your attention
          - alert: NGINXTooMany400s
            expr: 100 * ( sum( nginx_ingress_controller_requests{status=~"4.+"} ) / sum(nginx_ingress_controller_requests) ) > 5
            for: 1m
            labels:
              severity: warning
            annotations:
              description: Too many 4XXs
              summary: More than 5% of all requests returned 4XX, this requires your attention
