{% for ingress in ingress_definitions %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ ingress.name }}
  namespace: {{ ingress.namespace }}
  annotations:
    cert-manager.io/cluster-issuer: {{ ingress.cluster_issuer }}
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
    nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required - Administrator Access'
{% if ingress.upstream_tls %}
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
{% endif %}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - {{ ingress.hostname }}
      secretName: {{ ingress.tls_secret_name }}
  rules:
    - host: {{ ingress.hostname }}
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ ingress.service_name }}
              port:
                number: {{ ingress.service_port }}
{% endfor %}
