defaultSettings:
  backupTarget: "{{ longhorn_nfs_storage }}"
  defaultDataLocality: best-effort
  defaultLonghornStaticStorageClass: longhorn
  defaultNodeSelector:
    enable: false
  replicaAutoBalance: best-effort
  autoSalvage: true
  storageReservedPercentageForDefaultDisk: 15

image:
  defaultImage: true

longhorn:
  default_setting: true

persistence:
  defaultDataLocality: best-effort
  reclaimPolicy: Retain
  recurringJobSelector:
    enable: true
    joblist: '[{\"name\":\"6hourssnap\", \"isGroup\":true},{\"name\":\"dailybackup\", \"isGroup\":true}]'
  removeSnapshotsDuringFilesystemTrim: enabled

ingress:
  enabled: true
  ingressClassName: nginx
  host: "{{ longhorn_domain_name }}"
  tls: true
  tlsSecret: "{{ longhorn_tls_secret_name }}"
  path: /
  annotations:
    cert-manager.io/cluster-issuer: {{ cluster_issuer }}
