[
  {
    "op": "add",
    "path": "/spec/ingress/0/from/-",
    "value": {
      "namespaceSelector": {
        "matchLabels": {
          "name": {{ ns_label }}
        }
      },
      "podSelector": {
        "matchLabels": {
          "app.kubernetes.io/name": {{ app_label }}
        }
      }
    }
  }
]
